<!DOCTYPE html>
<html>

<head>
    <title>Agree or Disagree API</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />

</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><i class="fa fa-pied-piper-alt fa-lg" style="color: white;"></i> Agree or Disagree Web
                API</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <div class="navbar-right">
                <button type="button" class="btn btn-default navbar-btn btn-success">Register</button>
                <button type="button" class="btn btn-default navbar-btn btn-primary">Log In</button>
            </div>
        </ul>
    </div>

</nav>

<footer class="text-center">
    <p>Home page supporting Agree or Disagree web API</p>
</footer>
</body>

</html>
